body{
    font-family: 'VT323', monospace;
    height:100%;
}
html{
    background-color:#FEF9FF;
    height:100%;
}

::placeholder{
    color:black;
}
/* .bg{
    background-image:url("assets/radiocity.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;

}
h1{
    color:yellow;
} */
