body{
    font-family: 'VT323', monospace;

}
html{
    background-color:#FEF9FF;
}

::placeholder{
    color:black;
}
.results1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3%;
}