body{
    font-family: 'VT323', monospace;
    height:100%;}
   
html{
    background-color:#FEF9FF;
    height:100%;
}

::placeholder{
    color:black;
}

h1{
    color:black;
    font-weight:bold;
} 
#headerBg{
    background-image: url(assets/musicpattern.jpg);
    height:100px;
    width:100%;
    

}


